html
    head
        script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
    body
        h4 Hello World
        .result
    script(src='http://localhost:3000/nodey-frontend-javascript')